*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: monospace;
    font-size: 15px;
}
img{
    display: block;
    width: 100%;
}
.main-header_title{
    text-align:center;
    font-size: 2.5em;
    margin: 10px 0;
    color: #454446;
    font-family: Arial, Helvetica, sans-serif;
}
.main-header{
    padding: 0 10px;
}
.main-nav{
    display: none;
}
.main-header_conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-menu{
    font-size: 1.5em;
    border: 1px solid #454446;
    padding: 10px 13px;
    display: block;
}
.main-header_btn{
    display: block;
    border: 1px solid #454446;
    padding: 10px 15px;
    color: #454446;
    text-decoration: none;
}
.main-input{
    display: block;
    padding: 8px;
    width: 50%;
}
.main{
    padding: 0, 20px;
    padding-bottom: 30px;
}

/*aqui empiezan los estilos del slider*/
.main-slider{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 400%;
    height: 300px;
    margin-left: 0px;
    position: relative;
}
.slider:before{
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.slider-section{
    width: 100%;
    position: relative;
}
.slider-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}
.slider-btn:hover{
    background: #fff;
}
.slider-btn-left{
    left: 10px;
}
.slider-btn-right{
    right: 10px;
}
.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.slider-title{
    font-size: 2em;
}
.slider-txt{
    margin: 5px, 0;
}
.btn-shop{
    display: block;
    border: 1px solid #ff4e00;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 200px;
    margin: 10px auto;
}


/*aqui empiezan los estlios de los productos*/

.container-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.product{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}
.product::before{
    content: "New";
    background: #ff4e00;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: white;
}
.product-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.product--title{
    text-align: center;
}
.product-price{
    color: #ff4e00;
    font-weight: bold;
}
.product-icon{
    display: block;
    margin-top: 10px;
}

.container-editor{
    margin-top: 50px;
}
.editor-item{
    height: 200px;
    position: relative;
    overflow: hidden;
}
.editor-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.circle-editor{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -200px;
    right: -150px;
    color: white;
    padding: 20px;
    padding-bottom: 70px;
    padding-right: 50px;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;
}
.editor-item:hover .circle-editor{
    transform: scale(1.2);
    bottom: -90px;
    right: -50px;
}
.editor-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2 );
    opacity: 0;
    transition: all 0.5s;
}
.editor-item:hover:before{
    opacity: 3;
} 

.container-tips{
    text-align: center;
}
.tip .btn-shop{
    color:#333;
}
.tip i{
    font-size: 2em;
    padding: 20px 0;
}
.footer-title{
    border-bottom: 1px dotted #555;
    padding-bottom: 20px;
}
.main-footer{
    background: #151515;
    color: #ff4e00;
    padding: 30px 20px;
}
.footer-txt{
    color:#555;
}